<!-- /* File name: aboutme.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 17, 2022 */ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<body>
    <div style="text-align: center"><img src="https://media-exp1.licdn.com/dms/image/C5603AQHoOE20WZp5BA/profile-displayphoto-shrink_200_200/0/1644935631761?e=1670457600&v=beta&t=MnVFLyCTSv6RgKv4A7eBZD6xtSX-6rMtqzIW02dhD2Y" width="200" height="200" id="me" alt="My Picture"></div>   
    <div>
    <h3>My name is Naveen Kanmani Thirunavukkarasu, I'm currently enrolled in Software Engineering Technology - Artificial Intelligence FT. 
        I'm in my 1st semester. I have graduated my Bachelors in Information Technology from India and was working as a Senior Software Engineer for 3.2 years. 
        I was a Full stack .NET developer. I have a shift in te domain and to enhance my career, I opted to this course.</h3>
        <h4><a href="https://online.flippingbook.com/view/335643768/">Resume</a></h4>
    </div>
</body>
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
</html>