<!-- /* File name: contact.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 17, 2022 */ -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
    </head>
    <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
    <body>
        <form class="needs-validation" novalidate>
            <div class="form-row" style="display: flex;justify-content: space-between; float: left; width: 45%; height: 100px;">
              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">My Contact Info</div>
                <div class="card-body">
                  <h5 class="card-title">Naveen</h5>
                  <p class="card-text">Dear Page Visitor, Feel free to contat me if you have any doubts.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="color: black;">7871279088</li>
                  <li class="list-group-item" style="color: black;">nkanmani@my.centennialcollege.ca</li>
                </ul>
              </div>
            </div>
            <div class="form-row" style="display: flex; margin-left: 10%; height: 100px; ">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">First name</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom02">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustomUsername">Username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                  </div>
                  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email Address" required>
                <div class="invalid-feedback">
                    Please provide a Email Address.
                  </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
                <button class="btn btn-primary" type="submit">
                  <a href="/home" class="nav-link px-2" 
                  style="color: black; height: 30px; font-weight:bold; justify-content: space-between;">
                  Submit form</a></button>
              </div>
            </div>

          </form>
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
        
    </body>
    <%- include partials/bottom_nav.ejs %>  
    <%- include partials/footer.ejs %>
</html>