<!-- /* File name: service.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 17, 2022 */ -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <body>
    <div class="jumbotron">
        <div style="display: flex;justify-content: space-evenly;">
            <div style="width: 25%">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/120px-Node.js_logo.svg.png"  width="250" height="205">
            </div>
            <div style="width: 25%">
                <img src="https://2.bp.blogspot.com/-zc-dMXivRA4/V8GXxJPcOnI/AAAAAAAAA88/yvLsoESVO-8PTDsx_Bpw459kSOmu05CDgCLcB/s1600/html-and-css.png"  width="300" height="215">
            </div>
            <div style="width: 25%">
                <img src="https://www.itprotoday.com/sites/itprotoday.com/files/styles/article_featured_retina/public/uploads/2017/07/microsoft-sql-server595x3350_0.jpg?itok=W0KWNj4q"  width="250" height="205">
            </div>
        </div>
        <div style="display: flex;justify-content: space-evenly;margin-top: 20px;">
            <div style="width: 25%">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Arduino_Logo.svg/720px-Arduino_Logo.svg.png?20200922062315"  width="250" height="205">
            </div>
            <div style="width: 25%">
              <img src="https://download.logo.wine/logo/Python_(programming_language)/Python_(programming_language)-Logo.wine.png"  width="300" height="215">
          </div>
          <div style="width: 25%">
            <img src="https://www.avenga.com/wp-content/uploads/2020/11/C-Sharp.png"  width="300" height="215">
        </div>
        </div>
    </div>
  </body>
  
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
  




